/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*---GENERAL STYLES---*/
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: rgb(0, 0, 0);
  color: #FFFFFF; /*contrast ratio 21:1 */
}

h1,
h2 {
  font-family: "Quattrocento", serif;
  font-style: normal;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-weight: 500;
  text-align: center;
  font-size: 1.75em;
}

p,
ul,
li {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #BA75FF; /*contrast ratio 7:07:1 */
  cursor: pointer;
}

span {
  font-weight: 800;
}

header,
main,
footer {
  display: flex;
  justify-content: center;
  /*---parent's to .content-wrapper---*/
  width: 100%;
}

.content-wrapper {
  width: 100%;
}

img {
  width: 100%;
  margin: 0;
  height:auto;
}

/*---BASE HEADER AND FOOTER STYLES---*/
header .content-wrapper,
footer .content-wrapper {
  width: 90%;
  padding: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

header figure {
  height: 50px;
  padding:0;
  display: flex;
  justify-content: center;
  margin: 24px 0 0 0;
}

header h1 {
  width: 100%;
  text-align: center;
  margin: 15px 0 30px 0;
}

header .toggle {
  margin: 20px 0 0 0;
  width: 20%;
  height: 50px;
  padding: 0;
  background: var(--light-blue);
  outline: 0;
  border: none;
  border-radius: 5px;
  font-size: 3em;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.toggle:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  background: var(--highlight);
}

header .toggle i {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

/*--Nav Display--*/
.full-screen-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s ease-in-out;
  display: none;
  z-index: 9999;
  color: #FFFFFF;
  height: 100vh;
  width: 100vw;
  background: #000000;
}

.full-screen-nav ul {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 1em 1em 15% 1em;
  box-sizing:border-box;
}

.full-screen-nav ul li {
  width: 100%;
  padding: 0;
}

.full-screen-nav ul .close {
  text-align: right;
  padding: 0 20px 20px 0;
  font-size: 2.5em;
  color: #FFFFFF;
}

.full-screen-nav ul .close a {
  text-decoration:none;
}

.full-screen-nav ul li a {
  font-size: 2em;
  padding: 0;
  color: #FFFFFF;
  text-underline-offset: 0.25em;
}

.full-screen-nav ul li a:hover {
  font-weight:800;
}

.nav-icon {
  font-size: 1em;
}

.open-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---BASE FOOTER STYLES---*/
footer #socials,
footer .developed {
  width: 100%;
}

footer {
  text-align: center;
}

footer .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 30px;
}

footer .acknowledgement {
  border: 2px dotted white;
}

footer .acknowledgement p {
  padding: 0.5em;
  margin: 0;
  font-size: 0.85em;
  font-weight: 600;
}

footer .content-wrapper #socials a {
  font-size: 3em;
  margin: 0 10px;
  color: #FFFFFF;
}

footer .developed {
  margin: 0 3em;
  font-weight: 600;
}

/*==========================================================================
------HOMEPAGE MOBILE STYLES------
============================================================================*/
/*---LIGHT MODE CLASS---*/
.light-mode {
  background: #FFFFFF;
  color: #000000;
}

/*---LIGHT MODE MOON/SUN SWITCH---*/
.mode-toggle {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction:column;
}

.mode-label {
  width: 100%;
  margin-bottom: 1.75em;
  text-align:center;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
}

.mode-button {
  position: relative;
  width: 2em;
  height: 0.05em;
  border-radius: 0.1em;
  border: 0.095em solid #9f9f9f;
  background: #9f9f9f;
  margin: 0.26em calc(50% - 1em);
  cursor: pointer;
}

.toggle-btn::after {
  position: absolute;
  top: -0.7em;
  left: -100%;
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  transition: all 500ms cubic-bezier(0.34, 0.78, 0.55, 1.4);
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-checkbox:checked+.toggle-btn::after {
  left: 50%;
}

.sun-moon .toggle-btn::after {
  content: '🌞';
}

.sun-moon .toggle-checkbox:checked+.toggle-btn::after {
  content: '🌚';
}

/*---HOMEPAGE MAIN MOBILE STYLES---*/
main .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0;
}

.about,
.blue,
.red,
.yellow,
.purple,
.green {
  width: 100%;
  padding: 1em 2em;
  margin: 0.5em 1em;
  text-align: center;
  /*-needed for icon position-*/
}

/*-for click to expand section-*/
.base {
  display: flex;
  justify-content: space-between;
}

.homepage-block .white {
  color: #FFFFFF;
}

.about h2,
.blue h2,
.red h2,
.yellow h2,
.purple h2,
.green h2 {
  width: 100%;
  margin: 0;
}

.expand {
  padding: 0 0.35em;
  line-height: 0;
  font-size: 1em;
}

.content {
  margin-top: 20px;
  display: none;
}

article p {
  text-align: left;
}

.read-more {
  text-align: center;
  width: 100%;
  margin-top: 1.5em;
}

/*---ABOUT---*/
.orange {
  border: 2px #fcb309 solid; 
}

.orange-text {
  color: #fcb309; /*contrast ratio 11.59:1 */
}

.fa-address-card {
  font-size: 5em;
  color: #fcb309;
}

/*---HTML---*/
.blue-text {
  color: #8B8BFE; /*contrast ratio 7.22:1 */
}

.main-heading {
  font-size: 3em;
  margin: 0;
}

.blue {
  border: 2px #8B8BFE solid;
}

.fa-html5 {
  color: #8B8BFE;
}

.icon-image-large {
  font-size:5em;
}

/*---CSS---*/
.red {
  border: 2px #FF6161 solid;
}

.red-text {
  color: #FF6161; /*contrast ratio 7.13:1 */
}

.fa-css3-alt {
  color: #FF6161;
}

/*---JavaScript---*/
.yellow {
  /* for light on mode */
  outline: 3px solid #000000;
  outline-offset: -6px;
  border: 2px #ffff00 solid;
}

.yellow-text {
  color: #ffff00; /*contrast ratio 19.55:1 */
}

.fa-js {
  /* for light on mode */
  background: #000000;
  border-left: 5px #000000 solid;
  border-right: 5px #000000 solid;
  color: #ffff00;
}

/*---ALL---*/
.green {
  border: 2px #32cd32 solid; 
}

.fa-calculator {
  color: #32cd32;
}

.green-text {
  color: #32cd32; /*contrast ratio 9.91:1 */
}

/*---GIT---*/
.fa-keyboard {
  color: #FF29FF;
}

.purple-text {
  color: #FF29FF; /*contrast ratio 7.01:1 */
}

.purple {
  border: 2px #FF29FF solid;
}

/*---HOMEPAGE MOBILE FOOTER---*/
footer .content-wrapper {
  padding: 30px 0;
}


/*==========================================================================
------HTML, CSS, JS PAGES MOBILE STYLES------
============================================================================*/
/*---Articles Styles Mobile---*/
header figure {
  width:50px;
} 

header figure a{
    margin: 0;
   width:100%;
}

.html-page h2,
.content-page h2 {
  margin-bottom: 20px;
}

.bp ul,
.hints ul,
.one-done ul {
  text-align: left;
  padding-left: 0.5em;
}

.hints i {
  width: 7%;
}

.flex ul {
  text-align: left;
  padding-left: 1em;
  columns: 2;
}

.content-page footer .content-wrapper {
  padding-top: 0;
}

/*==========================================================================
------ALL-PAGE MOBILE STYLES------
============================================================================*/
.check ul {
  list-style: none;
  padding: 0 0 0 1em;
  text-align: left;
}

.check ul li {
  margin-bottom: 0.6em;
  text-indent: -1.3em;
  /*indents second line */
}

/*-for click to expand section-*/
.git-page .base {
  display: flex;
  justify-content: space-between;
}

.git-page h2 {
  width: 100%;
  margin: 0;
  font-size: 1.35em;
}

/*.git-content-wrapper button {
  padding: 0;
  line-height: 0;
  font-size: 1em;
}*/

.git-page .content {
  margin-top: 20px;
  display: none;
}

/*==========================================================================
------GIT PAGE MOBILE STYLES------
============================================================================*/
.git-content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.git p {
  text-align: center;
}

.git-content-wrapper article {
  margin: 0.5em 1em;
}

.ff p {
  text-align: center;
}

.align-left {
  text-align: left;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid purple;
  border-collapse: collapse;
  /*single instead of double lines */
}

.branches-content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.horses {
  display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  /*---GENERAL TABLET STYLES---*/
  header .content-wrapper {
    padding: 25px 0;
    justify-content: space-evenly;
    gap: 0;
  }

  header figure {
    order: 1;
    margin-top:30px;
    height: 60px;
    width: 60px;
  }

  header .toggle {
    order: 3;
    margin-top: 34px;
  }

  header h1 {
    order: 2;
    width: 70%;
    font-size: 3em;
    margin: 25px 0 0 0;
  }

  footer .content-wrapper {
    padding: 50px 0;
  }

  footer .acknowledgement {
    max-width: 840px;
  }

  footer #socials {
    margin: 30px 0;
  }

  /*==========================================================================
------HOMEPAGE TABLET STYLES------
============================================================================*/
  /* Mode label to appear on same row as switch */
  header .mode-toggle {
    margin: 2em 0;
    flex-direction: row;
    order: 4;
  }

  .mode-label {
    width: auto;
    margin-bottom: 0;
  }

  .mode-button {
    margin: 0.6em 0.5em 0.5em 2.5em;
  }

  .content-wrapper {
    gap: 1em;
    width: 90%;
  }

  .homepage article {
    width: 39%;
    max-width: 220px;
    margin: 0.5em 0.5em;
  }

  .html-base a,
  .css-base a,
  .js-base a,
  .all-base a,
  .git-base a {
    order: 2;
  }

  .html-base h2,
  .css-base h2,
  .js-base h2,
  .all-base h2,
  .git-base h2 {
    order: 1;
  }

  .about-content,
  .html-content,
  .css-content,
  .js-content,
  .all-content,
  .git-content {
    display: block;
  }

  .about i{
    /* to unify spacing without readmore section */
    margin-top: 6.5%;
    margin-bottom: 8%;
  }

  .about-base button,
  .html-base button,
  .css-base button,
  .js-base button,
  .all-base button,
  .git-base button {
    display: none;
  }

  .homepage-block .icon-image-large {
    margin: 15px 0;
  }

  /*==========================================================================
------HTML. CSS, JS, ALL-TOGETHER PAGES TABLET STYLES------
============================================================================*/
  /*---HEADER---*/
  .main-heading {
    margin: 25px 0 0 0;
  }

  .html-page .content-wrapper,
  .css-page .content-wrapper,
  .js-page .content-wrapper,
  .git-page .content-wrapper {
    gap: 1em;
    padding: 1em;
  }

  .html-page article,
  .css-page article,
  .js-page article,
  .git-page article {
    margin: 0;
  }

  .content-wrapper .language,
  .content-wrapper .bp {
    width: calc(50% - 0.5em);
    max-width: calc(600px - 0.5em);
    box-sizing: border-box;
  }

  .html-page .content-wrapper .language h2,
  .css-page .content-wrapper .language h2,
  .js-page .content-wrapper .language h2 {
    margin-bottom: 20px;
  }

  .html-page .language i,
  .js-page .language i,
  .git-page .language i {
    font-size: 7em;
  }

  .hints,
  .one-done,
  .flex,
  .check {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
  }

  .hints ul,
  .one-done ul {
    columns: 2;
    column-gap: 40px;
    break-inside: avoid;
    /* avoids fragmentation */
  }

  .content-page footer .content-wrapper {
    padding: 0 0 50px 0;
  }

  .content-page #socials {
    margin: 10px 0;
  }

  /*==========================================================================
------CSS PAGE TABLET STYLES------
============================================================================*/
  .css-page .language,
  .js-page .language {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: calc(40% - 0.5em);
    max-width: calc(480px - 0.5em);
  }

  .css-page .language i {
    font-size: 7em;
  }

  .css-page .bp,
  .js-page .bp {
    width: calc(60% - 0.5em);
    max-width: calc(720px - 0.5em);
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1200px;
  }

  .flex h2 {
    width: 100%;
  }

  .flex .parent,
  .flex .child {
    width: 100%;
  }

  .flex ul {
    width: 100%;
    columns: 1;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-left: 3em;
  }

  .flex ul li {
    width: 12em;
  }

  /*==========================================================================
------GIT PAGE TABLET STYLES------
============================================================================*/
  .git-content-wrapper {
    gap: 1em;
    padding: 1em;
  }

  .git-content-wrapper article {
    box-sizing: border-box;
  }

  .git-content-wrapper .git {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: calc(50% - 0.5em);
  }

  .git-content-wrapper .resources {
    width: calc(50% - 0.5em);
  }

  .git-page .content {
    display: block;
  }

  .git-content-wrapper button {
    display: none;
  }
}



@media only screen and (min-width: 1200px) {

  /*==========================================================================
------GENERAL DESKTOP STYLES------
============================================================================*/
  /*---DESKTOP STYLES---*/
  header .content-wrapper {
    padding: 25px 0 50px 0;
    justify-content: space-evenly;
    max-width: 1300px;
  }

  header figure {
    height: 70px;
    width: 70px;
    margin-top:25px;
    order: 1;
  }

  header .toggle {
    width: 20%;
    order: 3;
    margin-top: 30px;
  }

  header h1 {
    order: 2;
    width: 50%;
    font-size: 3em;
  }

  header .mode-toggle {
    margin: 3em 0 2em 0;
  }

  footer .content-wrapper {
    padding: 50px 0 75px 0;
  }

  /*==========================================================================
------HTML, CSS, JS PAGES DESKTOP STYLES------
============================================================================*/

  .language,
  .bp {
    width: 40%;
    max-width: 600px;
  }

  .hints,
  .flex,
  .one-done {
    width: 100%;
    max-width: 1200px;
  }

  .css-page .language i {
    font-size: 6em;
  }

  .css-page .bp ul {
    padding-left: 1.25em;
  }

  .flex ul {
    padding-left: 2em;
  }

  .flex ul li {
    width: 10em;
  }

  .content-page footer .content-wrapper {
    padding: 20px 0 70px 0;
  }

  /*==========================================================================
------GIT PAGE DESKTOP STYLES------
============================================================================*/
  .git-content-wrapper {
    max-width: 1200px;
  }

  .git-content-wrapper .resources ul {
    margin-left: 10%;
  }

  .create,
  .hard {
    width: calc(50% - 0.5em);
  }

  .horses {
    display: block;
    margin-top: 50px;
  }

  .horses i {
    font-size: 3em;
    margin: 0 0.125em 0 0.125em;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}